@using Microsoft.Ajax.Utilities
@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="body-content">
	<div class="panel-title">@Html.Raw(Model.ControllerName)/@Html.Raw(Model.ActionName)</div>
	<div class="caption">@Html.Raw(Model.Exception.Message)</div>
	<div class="tab-content">
		@Html.Raw(Model.Exception.StackTrace)
	</div>
	<hr />
	@if (@Model.Exception.InnerException != null)
	{
		<div class="caption">@Html.Raw(Model.Exception.InnerException.Message)</div>
		<div class="tab-content">
			@Html.Raw(Model.Exception.InnerException.StackTrace)
		</div>
	}

</div>