<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Multicasting</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@*@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
	<header></header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section>
			@RenderBody()
		</section>
	</div>
	<footer>
		<div>
			<div>
				<p>&copy; @DateTime.Now.Year - Multicast.Web</p>
			</div>
		</div>
	</footer>

	@*@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)*@
</body>
</html>
