<div>
	@Html.Raw(ViewBag.Message)
</div>

<div class="panel-title">Session Objects</div>
<div class="tab-content">
	test = @Html.Raw(ViewBag.UnlockedItems["test"])
	double = @Html.Raw(ViewBag.UnlockedItems["double"])
	date = @Html.Raw(ViewBag.UnlockedItems["date"])
	custom.name = @Html.Raw(((CustomSessionObject)ViewBag.UnlockedItems["custom"]).Name)
</div>