<div>
	@Html.Raw(ViewBag.Message)
</div>

<div class="panel-title">Session Objects</div>
<div class="tab-content">
	<br />test = @Html.Raw(ViewBag.UnlockedStore["test"])
	<br />double = @Html.Raw(ViewBag.UnlockedStore["double"])
	<br />date = @Html.Raw(ViewBag.UnlockedStore["date"])
	<br />custom.name = @Html.Raw(((CustomSessionObject)ViewBag.UnlockedStore["custom"]).Name)
	<br />
	<div>
		big.Content = @Html.Raw(((BigSessionObject)ViewBag.UnlockedStore["big"]).Content)
	</div>
</div>