<div>
    @Html.Raw(ViewBag.Message)
</div>

<div class="panel-title">Session Objects</div>
<div class="tab-content">
    <br/>test = @Html.Raw(SessionWrapper.Test)
    <br/>double = @Html.Raw(SessionWrapper.Double)
    <br/>date = @Html.Raw(SessionWrapper.Date)
    <br/>custom.name = @Html.Raw(SessionWrapper.CustomSessionObject.Name)
    <br/>
    <div>
        big.Content = @Html.Raw(SessionWrapper.BigSessionObject.Content)
    </div>
</div>